name: Cleanup old container images

on:
  schedule:
    - cron: '0 0 * * 0' # weekly on Sunday
  workflow_dispatch:

jobs:
  cleanup:
    runs-on: ubuntu-latest
    permissions:
      packages: write

    steps:
      - name: Delete old untagged versions
        uses: actions/delete-package-versions@v5
        with:
          package-name: overwatch
          package-type: container
          min-versions-to-keep: 3
          delete-only-untagged-versions: true
